source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

use devenv

# Install Node.js version from .nvmrc
eval "$(fnm env)"
fnm use --install-if-missing

# Use parent .envrc, if exists, as well. Useful for distinct configuration shared by all Agicash projects, but not by other projects on the host machine. (e.g. claude account setup)
source_up_if_exists
